ion-content{
    --background: white;
    --overflow: hidden;
}



.boton{
    display: flex;
    justify-content: center;
}




.content{

  overflow: hidden; // Cambiar de auto a hidden
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  background-color: rgb(221, 214, 214);
  height: 50vh; // Usar vh en lugar de %
  min-height: 300px; // Altura mínima
  width: 85%;
  border-radius: 20px;
  margin-top: 10%;
}

#mapId {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: relative; // Añadir esto
  z-index: 1;
}
