.mapa{
  margin-top: 4%;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2px solid #e0e0e0;
}

.buttons{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.controls{
  margin-top: 5%;
  ion-select{
    width: 100%;
    padding-left: 5%;
  }
}