<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <div class="floating-menu">
    <ion-menu-button class="menu-btn"></ion-menu-button>
  </div>


  <ion-content>

    
    <div class="logo">
      <ion-img class="img" src="assets/img/login.png"></ion-img>
    </div>

  <div class="aviso">
  <div class="informacion">
    <ion-text>Camion Cerca</ion-text>
    <ion-icon name="notifications"></ion-icon>
  </div>
  <ion-text class="tiempo-llegada" color="success">Llegara en 15 minutos a tu zona</ion-text>
</div>

    <div class="content">

  <div  id="mapId" style="height: 100%; width: 100%;"></div>
  
    </div>
  </ion-content>
</div>

