<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
 <div class="content">
   <ion-header collapse="condense">

  </ion-header>

  <ion-img src="/assets/img/inicio.png"></ion-img>




 </div>
</ion-content>

<ion-footer>

  <div class="sesion">
    <ion-button shape="round" expand="block" class="ingresar" (click)="login()">
      Usuarios
    </ion-button>
    <ion-button shape="round" expand="block" (click)="goCiudadano()" class="Ciudadano">
      Ciudadano
    </ion-button>
  </div>
</ion-footer>
